@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

#logo {
    content: url('logo.png');
    background-color: white;
    width: 400px;
    height: 75px;
    margin-left: 20px;
    margin-top: 20px;
}

body {
    background-image: url('register-background.png');
    background-size: cover;
}

#form {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    margin:auto;
    width: 500px;
    height: 500px;
    background-color:white;
    text-align: center;
}

.input-box {
    width: 50%;
    margin: auto;
}

#profile-img {
    border-radius: 35px;
}

#signin-button {
    width: 50%;
    margin: auto;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding-left: 120px;
    padding-top: 8px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }

#header {
    text-align: center;
    color: white;
}
