@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

#input-form {
	border-radius: 25px;
	border: 2px solid black;
    padding: 20px;
    margin:auto;
    width: 400px;
    height: 550px;
	background-color:white;
}

#logo {
    content:url('logo.png');
    background-color:white;
    width: 400px;
    height: 75px;
    margin:auto;
	margin-bottom: 50px;
    margin-top: 50px;
}


body{
    background-image:url('register-background.png');
    background-size: cover;
    opacity: 1;
	}

.input-box {
	 width: 50%;
}