@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

#input-form {
	border-radius: 25px;
	border: 2px solid black;
    padding: 20px;
    margin:auto;
    width: 400px;
    height: 550px;
}

.input-box {
	width: 50%;
}