<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mentor Resource Log-In</title>
</head>
<body>
<header>
    <h1>Mentor Resource Log-in</h1>
</header>
<h2>User Log-In</h2>
<form>
    E-mail:<br>
    <input type="text" id="email" value="johnsmith@gmail.com"><br>
    Password:<br>
    <input type="password" id="myPsw" value="psw123"><br>
    <input type="checkbox" value="login"> Keep Me Logged In<br>
    <input type="submit" value="Submit">
    <a href="http://ella.ils.indiana.edu/~almoskwa/password.html">Forgot Password?</a>
</form>
</body>
</html>